{{<layout}}
  {{$step}}Step 1 of 5{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.someone-else.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.arrange-collection.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.arrange-collection.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}
    <p>{{#t}}pages.arrange-collection.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}
        {{#radio-group}}arrange-collection-radio{{/radio-group}}

        <div id="someone-else-group" class="panel-indent">
          <p>{{#t}}pages.someone-else.someone-else-group.title{{/t}}</p>

          {{#input-text}}someone-else-fullname{{/input-text}}

          <fieldset id="someone-else-date-group" class="{{#errors.someone-else-date}}validation-error{{/errors.someone-else-date}} form-group">

            <legend class=visuallyhidden>
              <span class="form-label-bold">{{#t}}fields.someone-else-date.legend{{/t}}</span>
            </legend>

            <div class="form-group form-date">
              {{#t}}fields.someone-else-date.legend{{/t}}
              {{#errors.someone-else-date}}
                <span id="nominated-date-error" class="error-message">
                  {{errors.someone-else-date.message}}
                </span>
              {{/errors.someone-else-date}}
              <p id="nominated-date-hint" class="form-hint">
                {{#t}}fields.nominated-date.hint{{/t}}
              </p>
              {{#input-date}}someone-else-date{{/input-date}}
            </div>

          </fieldset>

          {{#select}}someone-else-nationality{{/select}}

          {{#radio-group}}someone-else-id-type{{/radio-group}}

          <p>{{#t}}pages.someone-else.someone-else-id-type.title{{/t}}</p>

          {{#input-text}}someone-else-id-number{{/input-text}}

          <div class="notice">
            <i class="icon icon-important">
              <span class="visuallyhidden">Warning</span>
            </i>
            <strong class="bold-small">
              The person must bring this ID document and their Home Office letter of authority when they collect your BRP. They will also need to present your passport or travel document containing the vignette (sticker).
            </strong>
          </div>
        </div>

        <div id="change-person-group" class="panel-indent">
          <p>{{#t}}pages.someone-else.change-person-group.title{{/t}}</p>

          {{#input-text}}change-person-fullname{{/input-text}}

          <fieldset id="change-person-date-group" class="{{#errors.change-person-date}}validation-error{{/errors.change-person-date}} form-group">

            <legend class=visuallyhidden>
              <span class="form-label-bold">{{#t}}fields.change-person-date.legend{{/t}}</span>
            </legend>

            <div class="form-group form-date">
              {{#t}}fields.change-person-date.legend{{/t}}
              {{#errors.change-person-date}}
                <span id="nominated-date-error" class="error-message">
                  {{errors.change-person-date.message}}
                </span>
              {{/errors.change-person-date}}
              <p id="nominated-date-hint" class="form-hint">
                {{#t}}fields.nominated-date.hint{{/t}}
              </p>
              {{#input-date}}change-person-date{{/input-date}}
            </div>

          </fieldset>

          {{#select}}change-person-nationality{{/select}}

          {{#radio-group}}change-person-id-type{{/radio-group}}

          <p>{{#t}}pages.someone-else.someone-else-id-type.title{{/t}}</p>

          {{#input-text}}change-person-id-number{{/input-text}}

          <div class="notice">
            <i class="icon icon-important">
              <span class="visuallyhidden">Warning</span>
            </i>
            <strong class="bold-small">
              The person must bring this ID document and their Home Office letter of authority when they collect your BRP. They will also need to present your passport or travel document containing the vignette (sticker).
            </strong>
          </div>

        </div>

        {{#input-submit}}continue{{/input-submit}}
      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
