{{<partials-page}}
{{$journeyHeader}}
{{#t}}journey.someone-else.header{{/t}}
{{/journeyHeader}}
{{$page-content}}
<p>{{#t}}pages.someone-else.someone-else-group.title{{/t}}</p>
{{#fields}}
{{#renderField}}{{/renderField}}
{{/fields}}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    {{#t}}pages.someone-else.someone-else-id-type.title{{/t}}
  </strong>
</div>
{{#input-submit}}continue{{/input-submit}}
{{/page-content}}
{{/partials-page}}
