{{<layout}}
{{$step}}Step 6 of 6{{/step}}

{{$journeyHeader}}
  {{#t}}journeys.someone-else.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$title}}
  {{#t}}pages.someone-else-check-details.header{{/t}}
{{/title}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{#t}}pages.someone-else-check-details.header{{/t}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$content}}
  <p>{{#t}}pages.someone-else-check-details.subheader{{/t}}</p>

  {{<partials-form}}

    {{$form}}

      <h2 class="details-header">{{#t}}pages.someone-else-check-details.tables.other-person.title{{/t}}</h2>
      <table id="others-details" class="table-details">
        <tbody>
          {{#values.someone-else-reason-radio}}
            <tr>
              <td>{{#t}}pages.someone-else-check-details.tables.reason.title{{/t}}</td>
              <td>{{#t}}fields.someone-else-reason-radio.options.{{values.someone-else-reason-radio}}.label{{/t}}</td>
              <td><a href="/someone-else/reason/edit#someone-else-reason-radio" class="button">{{#t}}buttons.change.someone-else-reason{{/t}}</a></td>
            </tr>
            {{#values.incapable-details}}
            <tr>
              <td>{{#t}}pages.someone-else-check-details.tables.reason.further-details{{/t}}</td>
              <td>{{values.incapable-details}}</td>
              <td><a href="/someone-else/reason/edit#incapable-details-group" class="button">{{#t}}buttons.change.someone-else-fullname{{/t}}</a></td>
            </tr>
            {{/values.incapable-details}}
          {{/values.someone-else-reason-radio}}
          {{#values.someone-else-fullname}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.fullname{{/t}}</td>
            <td>{{values.someone-else-fullname}}</td>
            <td><a href="/someone-else/arrange/edit#someone-else-fullname" class="button">{{#t}}buttons.change.someone-else-fullname{{/t}}</a></td>
          </tr>
          {{/values.someone-else-fullname}}
          {{#values.someone-else-date}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
            <td>{{#date}}{{values.someone-else-date}}{{/date}}</td>
            <td><a href="/someone-else/arrange/edit#someone-else-date-day" class="button">{{#t}}buttons.change.someone-else-date-of-birth{{/t}}</a></td>
          </tr>
          {{/values.someone-else-date}}
          {{#values.someone-else-nationality}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
            <td>{{values.someone-else-nationality}}</td>
            <td><a href="/someone-else/arrange/edit#someone-else-nationality" class="button">{{#t}}buttons.change.someone-else-nationality{{/t}}</a></td>
          </tr>
          {{/values.someone-else-nationality}}
          {{#values.someone-else-id-type}}
          <tr>
            <td>{{#t}}fields.someone-else-id-type.legend{{/t}}</td>
            <td>{{#t}}fields.someone-else-id-type.options.{{values.someone-else-id-type}}.label{{/t}}</td>
            <td><a href="/someone-else/arrange/edit#someone-else-id-type-group" class="button">{{#t}}buttons.change.someone-else-id-type{{/t}}</a></td>
          </tr>
          {{/values.someone-else-id-type}}
          {{#values.someone-else-id-number}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.id-number{{/t}}</td>
            <td>{{values.someone-else-id-number}}</td>
            <td><a href="/someone-else/arrange/edit#someone-else-id-number" class="button">{{#t}}buttons.change.someone-else-id-number{{/t}}</a></td>
          </tr>
          {{/values.someone-else-id-number}}
        </tbody>
      </table>

      <h2 class="details-header">{{#t}}pages.someone-else-check-details.tables.application-details.title{{/t}}</h2>
      <table id="application-details" class="table-details">
        <tbody>
          {{#values.application-type}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.application-type{{/t}}</td>
            <td class="no-white-space">
              {{#t}}fields.application-type.options.{{values.application-type}}.label{{/t}}
              <br />
              <span>
              {{#values.application-type-other}}
              {{values.application-type-other}}
              {{/values.application-type-other}}
              </span>
            </td>
            <td><a href="application-type/edit#application-type" class="button">{{#t}}buttons.change.application-type{{/t}}</a></td>
          </tr>
          {{/values.application-type}}

        </tbody>
      </table>

      <h2 class="details-header">{{#t}}pages.someone-else-check-details.tables.personal-details.title{{/t}}</h2>
      <table id="personal-details" class="table-details">
        <tbody>
          {{#values.fullname}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.fullname{{/t}}</td>
            <td>{{values.fullname}}</td>
            <td><a href="personal-details{{#values.no-reason}}-no-reason{{/values.no-reason}}/edit#fullname" class="button">{{#t}}buttons.change.fullname{{/t}}</a></td>
          </tr>
          {{/values.fullname}}
          {{#values.date-of-birth}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
            <td>{{#date}}{{values.date-of-birth}}{{/date}}</td>
            <td><a href="personal-details{{#values.no-reason}}-no-reason{{/values.no-reason}}/edit#date-of-birth-day" class="button">{{#t}}buttons.change.date-of-birth{{/t}}</a></td>
          </tr>
          {{/values.date-of-birth}}
          {{#values.nationality}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
            <td>{{values.nationality}}</td>
            <td><a href="personal-details/edit#nationality" class="button">{{#t}}buttons.change.nationality{{/t}}</a></td>
          </tr>
          {{/values.nationality}}
          {{#values.use-address}}
          {{#values.contact-address-street}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
              <td>
                {{values.contact-address-house-number}} {{values.contact-address-street}},
                {{values.contact-address-town}},
                {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
                {{values.contact-address-postcode}}
              </td>
              <td><a href="contact-details/edit#address-group" class="button">{{#t}}buttons.change.address{{/t}}</a></td>
            </tr>
          {{/values.contact-address-street}}
          {{/values.use-address}}
          {{#values.passport}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.passport{{/t}}</td>
            <td>{{values.passport}}</td>
            <td><a href="personal-details{{#values.no-reason}}-no-reason{{/values.no-reason}}/edit#passport" class="button">{{#t}}buttons.change.passport{{/t}}</a></td>
          </tr>
          {{/values.passport}}
          {{#values.email}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
            <td>{{values.email}}</td>
            <td><a href="contact-details/edit#email" class="button">{{#t}}buttons.change.email{{/t}}</a></td>
          </tr>
          {{/values.email}}
          {{#values.phone}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
              <td>{{values.phone}}</td>
              <td><a href="contact-details/edit#phone" class="button">{{#t}}buttons.change.phone{{/t}}</a></td>
            </tr>
          {{/values.phone}}
        </tbody>
      </table>

      {{<partials-org-type}}{{/partials-org-type}}

      <h2>{{#t}}footer.title{{/t}}</h2>
      <p>{{#t}}footer.explanation{{/t}}</p>

      {{#input-submit}}send{{/input-submit}}

    {{/form}}

  {{/partials-form}}


{{/content}}

{{/layout}}
