{{<layout}}

{{$journeyHeader}}
  {{#t}}journeys.someone-else.header{{/t}}
{{/journeyHeader}}

{{$step}}Step 2 of 6{{/step}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$title}}
  {{#t}}pages.someone-else-reason.header{{/t}}
{{/title}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{#t}}pages.someone-else-reason.header{{/t}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#radio-group}}someone-else-reason-radio{{/radio-group}}

        <fieldset id="incapable-details" class="panel-indent js-hidden">

          {{#textarea}}incapable-details{{/textarea}}

        </fieldset>

        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
