{{<layout}}
{{$step}}Step 6 of 6{{/step}}

{{$journeyHeader}}
  {{#t}}journeys.collection.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$title}}
  {{#t}}journeys.collection.pages.check-details.header{{/t}}
{{/title}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{#t}}journeys.collection.pages.check-details.header{{/t}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$content}}
  <p>{{#t}}journeys.collection.pages.check-details.subheader{{/t}}</p>

  {{<partials-form}}

    {{$form}}

        <h2 class="details-header">{{#t}}journeys.collection.pages.check-details.tables.problem-details.title{{/t}}</h2>
        <table id="problem-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}journeys.collection.pages.check-details.tables.problem-details.where-radio.label{{/t}}</td>
              <td>{{values.collection-where-radio}}{{#values.collection-date}}<br /><span>{{#date}}{{values.collection-date}}{{/date}}</span>{{/values.collection-date}}</td>
              <td><a href="/collection/where/edit#collection-where-radio-group" class="button">{{#t}}buttons.change.attempted-location{{/t}}</a></td>
            </tr>

            <tr>
              <td>{{#t}}journeys.collection.pages.check-details.tables.problem-details.reason.label{{/t}}</td>
              <td class="no-white-space">
                {{#t}}fields.reason-radio.options.{{values.reason-radio}}.label{{/t}}
                <br />
                <span>
                  {{#values.which-post-office}}
                    {{values.which-post-office}}
                  {{/values.which-post-office}}

                  {{#values.under-age}}
                    {{values.under-age}}
                  {{/values.under-age}}

                  {{#values.non-identity}}
                    {{values.non-identity}}
                  {{/values.non-identity}}

                  {{#values.others-identity}}
                    {{values.others-identity}}
                  {{/values.others-identity}}

                  {{#values.passport-family}}
                    {{values.passport-family}}
                  {{/values.passport-family}}

                  {{#values.passport-lost}}
                    {{values.passport-lost}}
                  {{/values.passport-lost}}

                  {{#values.no-brp}}
                    {{values.no-brp}}
                  {{/values.no-brp}}

                  {{#values.other}}
                    {{values.other}}
                  {{/values.other}}
                </span>
              </td>
              <td><a href="/collection/reasons/edit" class="button">{{#t}}buttons.change.reason{{/t}}</a></td>
            </tr>
          </tbody>
        </table>
      {{#values.nominated-fullname}}
        <h1>{{values.nominated-fullname}}</h1>
        <h2 class="details-header">{{#t}}journeys.collection.pages.check-details.tables.others-details.title{{/t}}</h2>
        <table id="others-details" class="table-details">
          <tbody>
            {{#values.nominated-fullname}}
            <tr>
              <td>{{#t}}journeys.collection.pages.check-details.tables.others-details.fullname{{/t}}</td>
              <td>{{values.nominated-fullname}}</td>
              <td><a href="nominated-person/edit#nominated-fullname" class="button">{{#t}}buttons.change.nominated-full-name{{/t}}</a></td>
            </tr>
            {{/values.nominated-fullname}}
            {{#values.nominated-date}}
            <tr>
              <td>{{#t}}journeys.collection.pages.check-details.tables.others-details.date-of-birth{{/t}}</td>
              <td>{{#date}}{{values.nominated-date}}{{/date}}</td>
              <td><a href="nominated-person/edit#nominated-date-day" class="button">{{#t}}buttons.change.nominated-dob{{/t}}</a></td>
            </tr>
            {{/values.nominated-date}}
            {{#values.nominated-nationality}}
            <tr>
              <td>{{#t}}journeys.collection.pages.check-details.tables.others-details.nationality{{/t}}</td>
              <td>{{values.nominated-nationality}}</td>
              <td><a href="nominated-person/edit#nominated-nationality" class="button">{{#t}}buttons.change.nominated-nationality{{/t}}</a></td>
            </tr>
            {{/values.nominated-nationality}}
            {{#values.nominated-id-number}}
            <tr>
              <td>{{#t}}journeys.collection.pages.check-details.tables.others-details.id-number{{/t}}</td>
              <td>{{values.nominated-id-number}}</td>
              <td><a href="nominated-person/edit#nominated-id-number" class="button">{{#t}}buttons.change.nominated-id-number{{/t}}</a></td>
            </tr>
            {{/values.nominated-id-number}}
          </tbody>
        </table>
      {{/values.nominated-fullname}}

      <h2 class="details-header">{{#t}}journeys.collection.pages.check-details.tables.personal-details.title{{/t}}</h2>
      <table id="personal-details" class="table-details">
        <tbody>
          {{#values.fullname}}
          <tr>
            <td>{{#t}}pages.check-details-error.personal-details-table.headers.fullname{{/t}}</td>
            <td>{{values.fullname}}</td>
            <td><a href="personal-details/edit#fullname" class="button">{{#t}}buttons.change.fullname{{/t}}</a></td>
          </tr>
          {{/values.fullname}}
          {{#values.date-of-birth}}
          <tr>
            <td>{{#t}}pages.check-details-error.personal-details-table.headers.date-of-birth{{/t}}</td>
            <td>{{#date}}{{values.date-of-birth}}{{/date}}</td>
            <td><a href="personal-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change.date-of-birth{{/t}}</a></td>
          </tr>
          {{/values.date-of-birth}}
          {{#values.nationality}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
            <td>{{values.nationality}}</td>
            <td><a href="personal-details/edit#nationality" class="button">{{#t}}buttons.change.nationality{{/t}}</a></td>
          </tr>
          {{/values.nationality}}
          {{#values.use-address}}
          {{#values.contact-address-street}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
              <td>
                {{values.contact-address-house-number}} {{values.contact-address-street}},
                {{values.contact-address-town}},
                {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
                {{values.contact-address-postcode}}
              </td>
              <td><a href="contact-details/edit#address-group" class="button">{{#t}}buttons.change.address{{/t}}</a></td>
            </tr>
          {{/values.contact-address-street}}
          {{/values.use-address}}
          {{#values.passport}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.passport{{/t}}</td>
            <td>{{values.passport}}</td>
            <td><a href="personal-details/edit#passport" class="button">{{#t}}buttons.change.passport{{/t}}</a></td>
          </tr>
          {{/values.passport}}
          {{#values.email}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
            <td>{{values.email}}</td>
            <td><a href="contact-details/edit#email" class="button">{{#t}}buttons.change.email{{/t}}</a></td>
          </tr>
          {{/values.email}}
          {{#values.phone}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
              <td>{{values.phone}}</td>
              <td><a href="contact-details/edit#phone" class="button">{{#t}}buttons.change.phone{{/t}}</a></td>
            </tr>
          {{/values.phone}}
        </tbody>
      </table>

      {{<partials-org-type}}{{/partials-org-type}}

      <h2>{{#t}}footer.title{{/t}}</h2>
      <p>{{#t}}footer.explanation{{/t}}</p>

      {{#input-submit}}send{{/input-submit}}

    {{/form}}

  {{/partials-form}}


{{/content}}

{{/layout}}