{{<layout}}
  {{$step}}Step 4 of 6{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.collection.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}journeys.collection.pages.personal-details.header{{/t}}
  {{/title}}

  {{$pageTitle}}}
        {{#t}}journeys.collection.pages.personal-details.header{{/t}}
  {{/pageTitle}}

  {{$content}}
    <p>{{#t}}journeys.collection.pages.personal-details.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}
        {{#input-text}}fullname{{/input-text}}

        <fieldset id="date-of-birth-group" class="{{#errors.date-of-birth}}validation-error{{/errors.date-of-birth}}">

          <legend>
            <span class="form-label-bold">{{#t}}fields.date-of-birth.legend{{/t}}</span>
          </legend>

          {{#errors.date-of-birth}}
            <span id="date-of-birth-error" class="error-message">
              {{errors.date-of-birth.message}}
            </span>
          {{/errors.date-of-birth}}

          <div class="form-group form-date">
            <p id="date-of-birth-hint" class="form-hint">
              {{#t}}fields.date-of-birth.hint{{/t}}
            </p>
            {{#input-date}}date-of-birth{{/input-date}}
          </div>

        </fieldset>

        {{#select}}nationality{{/select}}

        {{#input-text}}passport{{/input-text}}

        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
