{{<layout}}
  {{$step}}Step 2 of 6{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.collection.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$content}}
    {{<partials-form}}

      {{$form}}
        {{#radio-group}}reason-radio{{/radio-group}}

        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
