{{<layout}}
  {{$step}}Step 6 of 6{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.delivery.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.check-details.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.check-details.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}
    <p>{{#t}}pages.check-details.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}

        <h2 class="details-header">{{#t}}pages.check-details.table.head.delivery-details{{/t}}</h2>
        <table id="delivery-details" class="table-details">
          <tbody>
            {{#values.delivery-date}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.delivery-date{{/t}}</td>
              <td>{{#date}}{{values.delivery-date}}{{/date}}</td>
              <td><a href="letter-received/edit#delivery-date-day" class="button">{{#t}}buttons.change.delivery-date{{/t}}</a></td>
            </tr>
            {{/values.delivery-date}}

            {{#values.no-letter}}
            <tr>
              <td colspan="2">{{#t}}pages.check-details.table.headers.no-letter{{/t}}</td>
              <td><a href="letter-received/edit#no-letter" class="button">{{#t}}buttons.change.no-letter{{/t}}</a></td>
            </tr>
            {{/values.no-letter}}

            {{#values.case-id-number}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.case-id-number{{/t}}</td>
              <td>{{values.case-id-number}}</td>
              <td><a href="letter-received/edit#case-id-number" class="button">{{#t}}buttons.change.case-id-number{{/t}}</a></td>
            </tr>
            {{/values.case-id-number}}

            {{^values.address-street}}
            {{#values.delivery-details}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.delivery-details{{/t}}</td>
              <td>{{values.delivery-details}}</td>
              <td><a href="same-address/edit#delivery-details" class="button">{{#t}}buttons.change.delivery-details{{/t}}</a></td>
            </tr>
            {{/values.delivery-details}}
            {{/values.address-street}}

            {{#values.address-street}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.delivery-address{{/t}}</td>
              <td>
                {{values.address-house-number}} {{values.address-street}},
                {{values.address-town}},
                {{#values.address-county}}{{values.address-county}},{{/values.address-county}}
                {{values.address-postcode}}
              </td>
              <td><a href="same-address/edit#new-address-fieldset" class="button">{{#t}}buttons.change.new-address{{/t}}</a></td>
            </tr>
            <tr>
              <td>{{#t}}fields.case-id.label{{/t}}</td>
              <td>{{values.case-id}}</td>
              <td><a href="same-address/edit#case-id" class="button">{{#t}}buttons.change.case-id{{/t}}</a></td>
            </tr>
            {{/values.address-street}}
          </tbody>
        </table>

        <h2 class="details-header">{{#t}}pages.check-details.table.head.application-details{{/t}}</h2>
        <table id="application-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.check-details.table.headers.application-type{{/t}}</td>
              <td class="no-white-space">
                {{#t}}fields.application-type.options.{{values.application-type}}.label{{/t}}
                <br />
                <span>
                {{#values.application-type-other}}
                {{values.application-type-other}}
                {{/values.application-type-other}}
                </span>
              </td>
              <td><a href="application-type/edit#application-type" class="button">{{#t}}buttons.change.application-type{{/t}}</a></td>
            </tr>
          </tbody>
        </table>

        <h2 class="details-header">{{#t}}pages.check-details.table.head.personal-details{{/t}}</h2>
        <table id="personal-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.check-details.table.headers.fullname{{/t}}</td>
              <td>{{values.fullname}}</td>
              <td><a href="personal-details/edit#fullname" class="button">{{#t}}buttons.change.fullname{{/t}}</a></td>
            </tr>
            <tr>
              <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
              <td>{{#date}}{{values.date-of-birth}}{{/date}}</td>
              <td><a href="personal-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change.date-of-birth{{/t}}</a></td>
            </tr>
            <tr>
              <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
              <td>{{values.nationality}}</td>
              <td><a href="personal-details/edit#nationality" class="button">{{#t}}buttons.change.nationality{{/t}}</a></td>
            </tr>
            {{#values.use-address}}
            {{#values.contact-address-street}}
              <tr>
                <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
                <td>
                  {{values.contact-address-house-number}} {{values.contact-address-street}},
                  {{values.contact-address-town}},
                  {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
                  {{values.contact-address-postcode}}
                </td>
                <td><a href="contact-details/edit#address-group" class="button">{{#t}}buttons.change.address{{/t}}</a></td>
              </tr>
            {{/values.contact-address-street}}
            {{/values.use-address}}
            {{#values.passport}}
              <tr>
                <td>{{#t}}pages.check-details.table.headers.passport{{/t}}</td>
                <td>{{values.passport}}</td>
                <td><a href="personal-details/edit#passport" class="button">{{#t}}buttons.change.passport{{/t}}</a></td>
              </tr>
            {{/values.passport}}
            {{#values.email}}
              <tr>
                <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
                <td>{{values.email}}</td>
                <td><a href="contact-details/edit#email" class="button">{{#t}}buttons.change.email{{/t}}</a></td>
              </tr>
            {{/values.email}}
            {{#values.phone}}
              <tr>
                <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
                <td>{{values.phone}}</td>
                <td><a href="contact-details/edit#phone" class="button">{{#t}}buttons.change.phone{{/t}}</a></td>
              </tr>
            {{/values.phone}}
          </tbody>
        </table>

        {{<partials-org-type}}{{/partials-org-type}}

        <h2>{{#t}}footer.title{{/t}}</h2>
        <p>{{#t}}footer.explanation{{/t}}</p>

        {{#input-submit}}send{{/input-submit}}

      {{/form}}

    {{/partials-form}}


  {{/content}}

{{/layout}}
