{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.delivery.header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.on-the-way.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.on-the-way.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    <p>{{#t}}pages.on-the-way.para.one.first{{/t}}{{weekDayRange.weekDaysSince}}{{#t}}pages.on-the-way.para.one.second{{/t}}</p>
    <p>{{#t}}pages.on-the-way.para.two.first{{/t}}{{weekDayRange.weekDaysUntil}}{{#t}}pages.on-the-way.para.two.second{{/t}}</p>
    <a class="button" href='https://www.gov.uk/done/brp-not-arrived'>{{#t}}buttons.close{{/t}}</a>

  {{/content}}

{{/layout}}
