{{<partials-page}}
    {{$journeyHeader}}
        {{#t}}journey.delivery.header{{/t}}
    {{/journeyHeader}}
    {{$page-content}}
        <p>{{#t}}pages.on-the-way.para.one.first{{/t}}{{values.week-day-range.weekDaysSince}}{{#t}}pages.on-the-way.para.one.second{{/t}}</p>
        <p>{{#t}}pages.on-the-way.para.two.first{{/t}}{{values.week-day-range.weekDaysUntil}}{{#t}}pages.on-the-way.para.two.second{{/t}}</p>
        <a class="govuk-button" href='https://www.gov.uk/done/brp-not-arrived'>{{#t}}buttons.close{{/t}}</a>
    {{/page-content}}
{{/partials-page}}
