{{<layout}}
  {{$step}}Step 2 of 5{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.delivery.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}journeys.delivery.same-address.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}journeys.delivery.same-address.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#radio-group}}address-match{{/radio-group}}

        <fieldset id="delivery-details-fieldset" class="panel-indent js-hidden {{#errorlist.length}}validation-error{{/errorlist.length}}">
          <legend class="visuallyhidden">
              <span class="form-legend">
                {{#t}}fields.delivery-details.legend{{/t}}
              </span>
          </legend>

          {{#textarea}}delivery-details{{/textarea}}

        </fieldset>

        <fieldset id="new-address-fieldset" class="panel-indent js-hidden {{#errorlist.length}}validation-error{{/errorlist.length}}">
          <legend class="visuallyhidden">
              <span class="form-legend">
                {{#t}}fields.address.legend{{/t}}
              </span>
          </legend>

          <p>{{#t}}pages.same-address.address.title{{/t}}</p>

          {{#input-text}}address-street{{/input-text}}

          {{#input-text}}address-town{{/input-text}}

          {{#input-text}}address-county{{/input-text}}

          {{#input-text-code}}address-postcode{{/input-text-code}}

        </fieldset>

        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
