{{<layout}}
{{$step}}Step 4 of 7{{/step}}

{{$journeyHeader}}
  {{#t}}journeys.collection.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.uk-address.header{{/t}}{{/header}}

{{$content}}

  {{<partials-form}}

    {{$form}}

      <p>{{#t}}pages.uk-address.address.title{{/t}}</p>

      {{#radio-group}}uk-address-radio{{/radio-group}}

      <fieldset id="uk-address-fieldset" class="panel-indent js-hidden {{#errorlist.length}}validation-error{{/errorlist.length}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.address.legend{{/t}}
            </span>
        </legend>

        {{#input-text}}uk-address-street{{/input-text}}

        {{#input-text}}uk-address-town{{/input-text}}

        {{#input-text}}uk-address-county{{/input-text}}

        {{#input-text-code}}uk-address-postcode{{/input-text-code}}

      </fieldset>

      {{#input-submit}}continue{{/input-submit}}

    {{/form}}

  {{/partials-form}}

{{/content}}

{{/layout}}
