{{< govuk-template}}

{{$head}}
    {{> partials-head}}
{{/head}}

{{$pageTitle}}
    {{$header}}{{/header}} &ndash; GOV.UK
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}
{{$insideHeader}}{{/insideHeader}}
{{$main}}
   <main id="content" class="main" role="main">
        {{> partials-back}}
        <div class="steps">
          {{$step}}{{/step}}
        </div>
        <div class="grid-row">
            {{> partials-maincontent-left}}
        </div>
    </main>
{{/main}}

{{/ govuk-template}}
