{{< govuk-template}}

{{$head}}
    {{> partials-head}}
{{/head}}

{{$pageTitle}}
    {{$header}}{{/header}} &ndash; GOV.UK
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}
{{$insideHeader}}{{/insideHeader}}
{{$main}}
   <main id="content" class="main" role="main">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="mailto:brp-email???@?subject=BRP Feedback">feedback</a> will help us to improve it.</span>
            </p>
        </div>
        <span id="step">
            {{> partials-back}} <span>{{$step}}{{/step}}</span>
        </span>
        <div class="grid-row">
            {{> partials-maincontent-left}}
        </div>
    </main>
{{/main}}

{{/ govuk-template}}
