{{<layout}}
{{$step}}Step 5 of 5{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.lost.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.check-details.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.check-details.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}
    <p>{{#t}}pages.check-details.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}

        <table id="personal-details" class="table-details">

          <tr>
            <td>{{#t}}pages.check-details.table.headers.fullname{{/t}}</td>
            <td>{{values.fullname}}</td>
            <td><a href="personal-details/edit#fullname" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
          <tr>
            <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
            <td>{{values.date-of-birth-formatted}}</td>
            <td><a href="personal-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
          <tr>
            <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
            <td>{{values.nationality}}</td>
            <td><a href="personal-details/edit#nationality" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
          {{#values.no-email}}
          {{#values.contact-address-street}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
              <td>
                {{values.contact-address-house-number}} {{values.contact-address-street}},
                {{values.contact-address-town}},
                {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
                {{values.contact-address-postcode}}
              </td>
              <td><a href="contact-details/edit#address-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.contact-address-street}}
          {{/values.no-email}}
          {{#values.brp-card}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.brp-card-number{{/t}}</td>
              <td>{{values.brp-card}}</td>
              <td><a href="personal-details/edit#brp-card" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.brp-card}}
          {{#values.email}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
              <td>{{values.email}}</td>
              <td><a href="contact-details/edit#email" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.email}}
          {{#values.phone}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
              <td>{{values.phone}}</td>
              <td><a href="contact-details/edit#phone" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.phone}}
        </table>

        {{<partials-org-type}}{{/partials-org-type}}

        <h2>{{#t}}footer.title{{/t}}</h2>
        <p>{{#t}}footer.explanation{{/t}}</p>
        <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            {{#t}}pages.check-details.warn-card-cancelled{{/t}}
          </strong>
        </div>

        {{#input-submit}}send{{/input-submit}}

      {{/form}}

    {{/partials-form}}


  {{/content}}

{{/layout}}
