{{<layout}}
  {{$step}}Step 2 of 5{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.lost.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}pages.date-lost.header{{/t}}{{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        <fieldset id="date-lost-group" class="panel-indent {{#errors.date-lost}}validation-error{{/errors.date-lost}}">

          <legend class="visuallyhidden">
            <span class="form-label-bold">{{#t}}pages.date-lost.header{{/t}}</span>
          </legend>

          {{#errors.date-lost}}
            <span id="date-lost-error" class="error-message">
              {{errors.date-lost.message}}
            </span>
          {{/errors.date-lost}}

          <div class="form-group form-date">
            <p id="date-lost-hint" class="form-hint">
              {{#t}}fields.date-lost.hint{{/t}}
            </p>
            {{#input-date}}date-lost{{/input-date}}
          </div>

        </fieldset>

        {{#input-submit}}continue{{/input-submit}}
      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
