{{<layout}}
{{$step}}Step 5 of 5{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.lost.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}pages.check-details.header{{/t}}{{/header}}

  {{$content}}
    <p>{{#t}}pages.check-details.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}

        <table id="personal-details">

          <tr>
            <td>{{#t}}pages.check-details.table.headers.fullname{{/t}}</td>
            <td>{{values.fullname}}</td>
            <td><a href="personal-details#fullname" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
          <tr>
            <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
            <td>{{values.date-of-birth-day}}-{{values.date-of-birth-month}}-{{values.date-of-birth-year}}</td>
            <td><a href="personal-details#date-of-birth-day" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
          <tr>
            <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
            <td>{{values.nationality}}</td>
            <td><a href="personal-details#nationality" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
          {{#values.no-email}}
          {{#values.contact-address-street}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
              <td>
                {{values.contact-address-street}},
                {{values.contact-address-town}},
                {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
                {{values.contact-address-postcode}}
              </td>
              <td><a href="contact-details#contact-address-street" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.contact-address-street}}
          {{/values.no-email}}
          {{#values.brp-card}}
            <tr>
              <td>{{#t}}pages.check-details-error.personal-details-table.headers.brp-card-number{{/t}}</td>
              <td>{{values.brp-card}}</td>
              <td><a href="personal-details#brp-card" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.brp-card}}
          {{#values.email}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
              <td>{{values.email}}</td>
              <td><a href="contact-details#email" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.email}}
          {{#values.phone}}
            <tr>
              <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
              <td>{{values.phone}}</td>
              <td><a href="contact-details#phone" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/values.phone}}
        </table>

        {{<partials-org-type}}{{/partials-org-type}}

        <h2>{{#t}}pages.check-details.footer.title{{/t}}</h2>
        <p>{{#t}}pages.check-details.footer.explanation{{/t}}</p>

        {{#input-submit}}submit{{/input-submit}}

      {{/form}}

    {{/partials-form}}


  {{/content}}

{{/layout}}
