@import "hof-theme-govuk";

@import "./alert.scss";
@import "./icons.scss";
@import "./validation.scss";


#banner-content {
  @extend #content;
  padding-bottom: 0;
}


.phase-banner {
  @include phase-banner(beta);
}

#step {
  a {
    display: inline-block;
    margin-top: $gutter-half;
    padding-left: 14px;
    border-bottom: $black 1px solid;
    color: $black;
    text-decoration: none;
    background: url("../images/icons/icon-caret-left.png") no-repeat 0 4px;
    @include media(mobile) {
      background-position: 0 1px;
    }
    margin-right: 14px;
  }

  span {
    display: inline-block;
    margin-top: $gutter-half;
    color: $secondary-text-colour;
  }
}

h1 {
  @include bold-24;
}

.button {
  margin-top: 15px;
}

.form-label-bold {
  @include core-19;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
  max-height: 220px;
  overflow-y: scroll;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

.hidden-hint .screenreader-punctuation,
.hidden-hint .form-hint, {
  @extend .visuallyhidden;
}

//custom form styling
.form-control {
  padding: 0.5em;

  @include media(desktop) {
    width: 65%;
  }

  @at-root {
    textarea#{&} {
      height: 95px;
    }
  }
}

.form-group {
  margin-bottom: 15px;
}

// GOVUK Elements `.form-date` overrides
.form-date {
    border-left: none;
    padding-left: 0;

    label {
        @include core-19();
    }

    .form-group {
        input {
            &[id$="-year"] {
                width: 70px;
            }
        }
    }
}

#delivery-details {
  width: 100%;
}


.table-details {
  width: 100%;

  tbody {
    border-top: $border-colour 1px solid;

    td:nth-child(1) {
      width: 20%;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
  }

  .button {
    margin: 0;
    background: #dde0e1;
    color: #000;
  }
}

.details-header {
  @include bold-19;
  margin: 1em 0 0 0;
}

.notice {
  position: relative;
  padding: 20px;
  float: left;
  strong {
    display: block;
    padding-left: 65px;
    margin-left: -15px;
  }
  .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -17px;
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .icon-important {
    width: 35px;
    height: 35px;
    background-image: url("../images/icons/icon-important.png");
    background-size: 100%;
  }
  .bold-small {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
  }
}


.lte-ie8 {
  #logo {
    width: 100%;
  }

  .block-label {
    float: left;
  }

  .form-control {
    width: 65%;
  }
}

.alert-message {
  p {
    margin-bottom: 0;
  }
}
