$path: "../img/";

@import "../../node_modules/hmpo-frontend-toolkit/assets/stylesheets/app.scss";

@import "./alert.scss";
@import "./icons.scss";
@import "./validation.scss";


.phase-banner {
  @include phase-banner();
}

#step {
  @include core-16;
  a {
    display: inline-block;
    margin-top: $gutter-half;
    padding-left: 14px;
    border-bottom: $black 1px solid;
    color: $black;
    text-decoration: none;
    background: url("../images/icons/icon-caret-left.png") no-repeat 0 4px;
    @include media(mobile) {
      background-position: 0 1px;
    }
    margin-right: 14px;
  }

  span {
    display: inline-block;
    margin-top: $gutter-half;
    color: $secondary-text-colour;
  }
}

h1 {
  @include bold-24;
}

.form-label-bold {
  @include core-19;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 50%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

//custom form styling

.form-control {
  padding: 0.5em;
}

.form-date {
  border-left: none;
  padding-left: 0;
}

// GOVUK Elements `.form-date` overrides
.form-date {
    label {
        @include core-19();
    }
    .form-group {
        input {
            &[id$="-year"] {
                width: 70px;
            }
        }
    }
}