.form-group.validation-error {

  label span.visuallyhidden {
    position: inherit;
    overflow: inherit;
    clip: inherit;
    height: inherit;
    width: inherit;
    margin: inherit;
    padding: inherit;
    border: inherit;

    display: block;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 700;
    text-transform: none;
    color: #af1324;
  }
}

.form-date .form-group.validation-error,
.panel-indent .form-group.validation-error {
  border-left: none;
  padding-left: 0;
}
