{{<layout}}

{{$journeyHeader}}
  {{#t}}journeys.error.header{{/t}}
{{/journeyHeader}}

{{$step}}Step 2 of 6{{/step}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.about-error.header{{/t}}{{/header}}

{{$content}}
  <p>{{#t}}pages.about-error.subheader{{/t}}</p>

  {{<partials-form}}

    {{$form}}

      {{#checkbox}}last-name-error-checkbox{{/checkbox}}

      <fieldset id="last-name-error-group" class="panel-indent js-hidden {{#errors.last-name-error}}validation-error{{/errors.last-name-error}}">

        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.last-name-error.legend{{/t}}
            </span>
        </legend>

        <p>{{#t}}fields.last-name-error.title{{/t}}</p>

        {{#input-text}}last-name-error{{/input-text}}

      </fieldset>

      {{#checkbox}}first-name-error-checkbox{{/checkbox}}

      <fieldset id="first-name-error-group" class="panel-indent js-hidden {{#errors.first-name-error}}validation-error{{/errors.first-name-error}}">

        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.first-name-error.legend{{/t}}
            </span>
        </legend>

        <p>{{#t}}fields.first-name-error.title{{/t}}</p>

        {{#input-text}}first-name-error{{/input-text}}

      </fieldset>

      {{#checkbox}}birth-place-error-checkbox{{/checkbox}}

      <fieldset id="birth-place-error-group" class="panel-indent js-hidden {{#errors.birth-place-error}}validation-error{{/errors.birth-place-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.birth-place-error.legend{{/t}}
            </span>
        </legend>

        {{#input-text}}birth-place-error{{/input-text}}

      </fieldset>

      {{#checkbox}}date-of-birth-error-checkbox{{/checkbox}}

      <fieldset id="date-of-birth-error-group" class="panel-indent js-hidden {{#errors.date-of-birth-error}}validation-error{{/errors.date-of-birth-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.date-of-birth-error.legend{{/t}}
            </span>
        </legend>


        <div class="form-group form-date">
          <label for="date-of-birth-error-day" class="form-label">{{#t}}fields.date-of-birth-error.label{{/t}}</p>
          {{#errors.date-of-birth-error}}
            <span id="date-of-birth-error" class="error-message">
              {{errors.date-of-birth-error.message}}
            </span>
          {{/errors.date-of-birth-error}}
          <p id="date-hint" class="form-hint">{{#t}}fields.date-of-birth-error.hint{{/t}}</p>
          {{#input-date}}date-of-birth-error{{/input-date}}
        </div>

      </fieldset>

      {{#checkbox}}gender-error-checkbox{{/checkbox}}

      {{#radio-group}}gender-error{{/radio-group}}

      {{#checkbox}}sponsor-details-error-checkbox{{/checkbox}}

      <fieldset id="sponsor-details-error-group" class="panel-indent js-hidden {{#errors.sponsor-details-error}}validation-error{{/errors.sponsor-details-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.sponsor-details-error.legend{{/t}}
            </span>
        </legend>

        <p>{{#t}}fields.sponsor-details-error.title{{/t}}</p>

        {{#input-text}}sponsor-details-error{{/input-text}}

      </fieldset>

      {{#checkbox}}nationality-error-checkbox{{/checkbox}}

      <fieldset id="nationality-error-group" class="panel-indent js-hidden {{#errors.nationality-error}}validation-error{{/errors.nationality-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.nationality-error.legend{{/t}}
            </span>
        </legend>

        {{#input-text}}nationality-error{{/input-text}}

      </fieldset>

      {{#checkbox}}signature-error-checkbox{{/checkbox}}

      <fieldset id="signature-error-group" class="panel-indent js-hidden {{#errors.signature-error}}validation-error{{/errors.signature-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.signature-error.legend{{/t}}
            </span>
        </legend>

        {{#textarea}}signature-error{{/textarea}}

      </fieldset>

      {{#checkbox}}photograph-error-checkbox{{/checkbox}}

      <fieldset id="photograph-error-group" class="panel-indent js-hidden {{#errors.photograph-error}}validation-error{{/errors.photograph-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.photograph-error.legend{{/t}}
            </span>
        </legend>

        {{#textarea}}photograph-error{{/textarea}}
      </fieldset>

      {{#checkbox}}national-insurance-error-checkbox{{/checkbox}}

      <fieldset id="national-insurance-error-group" class="panel-indent js-hidden {{#errors.national-insurance-error}}validation-error{{/errors.national-insurance-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.national-insurance-error.legend{{/t}}
            </span>
        </legend>

        {{#textarea}}national-insurance-error{{/textarea}}
      </fieldset>

      {{#checkbox}}damaged-error-checkbox{{/checkbox}}

      <fieldset id="damaged-error-group" class="panel-indent js-hidden {{#errors.damaged-error}}validation-error{{/errors.damaged-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.damaged-error.legend{{/t}}
            </span>
        </legend>

        {{#textarea}}damaged-error{{/textarea}}

      </fieldset>

      {{#checkbox}}conditions-error-checkbox{{/checkbox}}

       <fieldset id="conditions-error-group" class="panel-indent js-hidden {{#errors.conditions-error}}validation-error{{/errors.conditions-error}}">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.conditions-error.legend{{/t}}
            </span>
        </legend>

        {{#textarea}}conditions-error{{/textarea}}

      </fieldset>

      {{#input-submit}}continue{{/input-submit}}


    {{/form}}

  {{/partials-form}}


{{/content}}

{{/layout}}
