{{<layout}}
{{$step}}Step 6 of 6{{/step}}

{{$journeyHeader}}
  {{#t}}journeys.error.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.check-details-error.header{{/t}}{{/header}}

{{$content}}
  <p>{{#t}}pages.check-details-error.subheader{{/t}}</p>

  {{<partials-form}}

    {{$form}}

      <h3>{{#t}}pages.check-details-error.corrected-details-table.title{{/t}}</h3>
      <table id="check-details">
        {{#values.first-name-error}}
          <tr>
            <td>{{#t}}fields.first-name-error-checkbox.label{{/t}}</td>
            <td>
              {{values.first-name-error}}
            </td>
            <td><a href="about-error/edit#first-name-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.first-name-error}}

        {{#values.last-name-error}}
          <tr>
            <td>{{#t}}fields.last-name-error-checkbox.label{{/t}}</td>
            <td>
              {{values.last-name-error}}
            </td>
            <td><a href="about-error/edit#last-name-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.last-name-error}}

        {{#values.birth-place-error}}
          <tr>
            <td>{{#t}}fields.birth-place-error-checkbox.label{{/t}}</td>
            <td>
              {{values.birth-place-error}}
            </td>
            <td><a href="about-error/edit#birth-place-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.birth-place-error}}

        {{#values.date-of-birth-error-day}}
          <tr>
            <td>{{#t}}fields.date-of-birth-error-checkbox.label{{/t}}</td>
            <td>
              {{values.date-of-birth-error-formatted}}
            </td>
            <td><a href="about-error/edit#date-of-birth-error-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.date-of-birth-error-day}}

        {{#values.gender-error}}
          <tr>
            <td>{{#t}}fields.gender-error-checkbox.label{{/t}}</td>
            <td>
              {{values.gender-error}}
            </td>
            <td><a href="about-error/edit#gender-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.gender-error}}

        {{#values.sponsor-details-error}}
          <tr>
            <td>{{#t}}fields.sponsor-details-error-checkbox.label{{/t}}</td>
            <td>
              {{values.sponsor-details-error}}
            </td>
            <td><a href="about-error/edit#sponsor-details-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.sponsor-details-error}}

        {{#values.nationality-error}}
          <tr>
            <td>{{#t}}fields.nationality-error-checkbox.label{{/t}}</td>
            <td>
              {{values.nationality-error}}
            </td>
            <td><a href="about-error/edit#nationality-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.nationality-error}}

        {{#values.signature-error}}
          <tr>
            <td>{{#t}}fields.signature-error-checkbox.label{{/t}}</td>
            <td>
              {{values.signature-error}}
            </td>
            <td><a href="about-error/edit#signature-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.signature-error}}

        {{#values.photograph-error}}
          <tr>
            <td>{{#t}}fields.photograph-error-checkbox.label{{/t}}</td>
            <td>
              {{values.photograph-error}}
            </td>
            <td><a href="about-error/edit#photograph-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.photograph-error}}

        {{#values.national-insurance-error}}
          <tr>
            <td>{{#t}}fields.national-insurance-error-checkbox.label{{/t}}</td>
            <td>
              {{values.national-insurance-error}}
            </td>
            <td><a href="about-error/edit#national-insurance-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.national-insurance-error}}

        {{#values.damaged-error}}
          <tr>
            <td>{{#t}}fields.damaged-error-checkbox.label{{/t}}</td>
            <td>
              {{values.damaged-error}}
            </td>
            <td><a href="about-error/edit#damaged-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.damaged-error}}

        {{#values.conditions-error}}
          <tr>
            <td>{{#t}}fields.conditions-error-checkbox.label{{/t}}</td>
            <td>
              {{values.conditions-error}}
            </td>
            <td><a href="about-error/edit#conditions-error" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.conditions-error}}
      </table>

      <h3>{{#t}}pages.check-details-error.personal-details-table.title{{/t}}</h3>
      <table id="personal-details">
        {{#values.fullname}}
        <tr>
          <td>{{#t}}pages.check-details-error.personal-details-table.headers.fullname{{/t}}</td>
          <td>{{values.fullname}}</td>
          <td><a href="personal-details/edit#fullname" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{/values.fullname}}
        {{#values.date-of-birth}}
        <tr>
          <td>{{#t}}pages.check-details-error.personal-details-table.headers.date-of-birth{{/t}}</td>
          <td>{{values.date-of-birth-formatted}}</td>
          <td><a href="personal-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{/values.date-of-birth}}
        {{#values.nationality}}
        <tr>
          <td>{{#t}}pages.check-details-error.personal-details-table.headers.nationality{{/t}}</td>
          <td>{{values.nationality}}</td>
          <td><a href="personal-details/edit#nationality" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{/values.nationality}}
        {{#values.no-email}}
        {{#values.contact-address-street}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
            <td>
              {{values.contact-address-street}},
              {{values.contact-address-town}},
              {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
              {{values.contact-address-postcode}}
            </td>
            <td><a href="contact-details/edit#contact-address-street" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.contact-address-street}}
        {{/values.no-email}}
        {{#values.address-street}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.address{{/t}}</td>
            <td>
              {{values.address-street}},
              {{values.address-town}},
              {{#values.address-county}}{{values.address-county}},{{/values.address-county}}
              {{values.address-postcode}}
            </td>
            <td><a href="same-address/edit#address-street" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.address-street}}
        {{#values.brp-card}}
        <tr>
          <td>{{#t}}pages.check-details-error.personal-details-table.headers.brp-card-number{{/t}}</td>
          <td>{{values.brp-card}}</td>
          <td><a href="personal-details/edit#brp-card" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{/values.brp-card}}
        {{#values.email}}
        <tr>
          <td>{{#t}}pages.check-details-error.personal-details-table.headers.email{{/t}}</td>
          <td>{{values.email}}</td>
          <td><a href="contact-details/edit#email" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{/values.email}}
        {{#values.phone}}
          <tr>
            <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
            <td>{{values.phone}}</td>
            <td><a href="contact-details/edit#phone" class="button">{{#t}}buttons.change{{/t}}</a></td>
          </tr>
        {{/values.phone}}

      </table>

      {{<partials-org-type}}{{/partials-org-type}}

      <h2>{{#t}}pages.check-details.footer.title{{/t}}</h2>
      <p>{{#t}}pages.check-details.footer.explanation{{/t}}</p>

      {{#input-submit}}submit{{/input-submit}}

    {{/form}}

  {{/partials-form}}


{{/content}}

{{/layout}}
