{{<layout}}

{{$title}}
  {{content.title}}
{{/title}}

{{$propositionHeader}}
  <div class="govuk-header__content">
    <a href="{{startLink}}" class="govuk-header__link govuk-header__link--service-name" id="proposition-name">{{#t}}journey.serviceName{{/t}}</a>
  </div>
{{/propositionHeader}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{content.title}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$content}}
    <p>{{{content.message}}}</p>
    <a href="{{startLink}}" class="govuk-button" role="button">Start again</a>
    {{#showStack}}
      <pre>
        {{error.stack}}
      </pre>
    {{/showStack}}
{{/content}}

{{/layout}}
