<div id="gender-error"
  class="govuk-form-group govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden">
  <div id="gender-error-group"
  class="govuk-form-group govuk-radios {{#errors.gender-error}}govuk-form-group--error{{/errors.gender-error}}">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      {{#t}}fields.gender-error.legend{{/t}}
      {{#errors.gender-error}}
      <p class="govuk-error-message">
        {{errors.gender-error.message}}
      </p>
      {{/errors.gender-error}}
    </legend>
    <div id="gender-error-hint" class="govuk-hint">
      {{#t}}fields.gender-error.hint{{/t}}
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="gender-error" id="gender-error-female" value="female"
          {{#femaleChecked}} checked="checked" {{/femaleChecked}}>
        <label class="govuk-label govuk-radios__label" for="gender-error-female">
          {{#t}}fields.gender-error.options.female{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="gender-error" id="gender-error-male" value="male"
          {{#maleChecked}} checked="checked" {{/maleChecked}}>
        <label class="govuk-label govuk-radios__label" for="gender-error-male">
          {{#t}}fields.gender-error.options.male{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="gender-error" id="gender-error-unspecified"
          value="unspecified" {{#unspecifiedChecked}} checked="checked" {{/unspecifiedChecked}}>
        <label class="govuk-label govuk-radios__label" for="gender-error-unspecified">
          {{#t}}fields.gender-error.options.unspecified{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
</div>
