<div>
  <fieldset id="same-address-fieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">

    <legend class="visuallyhidden">
      <span class="form-legend">
        {{#t}}fields.address.legend{{/t}}
      </span>
    </legend>

    {{#input-text}}same-address-house-number{{/input-text}}

    {{#input-text}}same-address-street{{/input-text}}

    {{#input-text}}same-address-town{{/input-text}}

    {{#input-text}}same-address-county{{/input-text}}

    {{#input-text}}same-address-postcode{{/input-text}}

  </fieldset>
</div>
