{{<layout}}

{{$journeyHeader}}
  {{#t}}journeys.lost.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
  {{> partials-confirmation-banner}}

  <hr>

  <h2>{{#t}}pages.confirmation.next.header{{/t}}</h2>

  {{#location.inside-uk}}
    <p>{{#t}}pages.confirmation.next.inside-uk.para.one{{/t}}</p>
  {{/location.inside-uk}}

  {{#location.outside-uk}}
    <p>{{#t}}pages.confirmation.next.outside-uk.para.one{{/t}}</p>
    <p>{{#t}}pages.confirmation.next.outside-uk.para.two{{/t}}</p>
  {{/location.outside-uk}}

  <hr>

  <a href='https://www.gov.uk/done/brp-report-lost-stolen' class='button'>{{#t}}buttons.close{{/t}}</a>

{{/content}}

{{/layout}}
