{{<layout}}
{{$step}}Step 5 of 5{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.lost.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.check-details.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.check-details.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}
    <p>{{#t}}pages.check-details.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}

        <table id="personal-details" class="table-details">
          <tr data-id="date-lost">
            <td>{{#t}}pages.check-details.table.headers.date-lost{{/t}}</td>
            <td>{{#date}}{{values.date-lost}}{{/date}}</td>
            <td><a href="date-lost/edit#date-lost-day" id='date-lost-change' class="button">{{#t}}buttons.change.date-lost{{/t}}</a></td>
          </tr>
          <tr data-id="fullname">
            <td>{{#t}}pages.check-details.table.headers.fullname{{/t}}</td>
            <td>{{values.fullname}}</td>
            <td><a href="personal-details/edit#fullname" id='fullname-change' class="button">{{#t}}buttons.change.fullname{{/t}}</a></td>
          </tr>
          <tr data-id="date-of-birth">
            <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
            <td>{{#date}}{{values.date-of-birth}}{{/date}}</td>
            <td><a href="personal-details/edit#date-of-birth-day" id='date-of-birth-change' class="button">{{#t}}buttons.change.date-of-birth{{/t}}</a></td>
          </tr>
          <tr data-id="nationality">
            <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
            <td>{{values.nationality}}</td>
            <td><a href="personal-details/edit#nationality" id='nationality-change' class="button">{{#t}}buttons.change.nationality{{/t}}</a></td>
          </tr>
          {{#values.use-address}}
          {{#values.contact-address-street}}
            <tr data-id="address">
              <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
              <td>
                {{values.contact-address-house-number}} {{values.contact-address-street}},
                {{values.contact-address-town}},
                {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
                {{values.contact-address-postcode}}
              </td>
              <td><a href="contact-details/edit#address-group" id='address-change'class="button">{{#t}}buttons.change.address{{/t}}</a></td>
            </tr>
          {{/values.contact-address-street}}
          {{/values.use-address}}
          {{#values.brp-card}}
            <tr data-id="brp-card">
              <td>{{#t}}pages.check-details.table.headers.brp-card-number{{/t}}</td>
              <td>{{values.brp-card}}</td>
              <td><a href="personal-details/edit#brp-card"  id='brp-card-change' class="button">{{#t}}buttons.change.brp-card{{/t}}</a></td>
            </tr>
          {{/values.brp-card}}
          {{#values.email}}
            <tr date-id='email'>
              <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
              <td>{{values.email}}</td>
              <td><a href="contact-details/edit#email" id='email-change' class="button">{{#t}}buttons.change.email{{/t}}</a></td>
            </tr>
          {{/values.email}}
          {{#values.phone}}
            <tr data-id="phone">
              <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
              <td>{{values.phone}}</td>
              <td><a href="contact-details/edit#phone" id='phone-change' class="button">{{#t}}buttons.change.phone{{/t}}</a></td>
            </tr>
          {{/values.phone}}
        </table>

        {{<partials-org-type}}{{/partials-org-type}}

        <h2>{{#t}}footer.title{{/t}}</h2>
        <p>{{#t}}footer.explanation{{/t}}</p>
        <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            {{#t}}pages.check-details.warn-card-cancelled{{/t}}
          </strong>
        </div>

        {{#input-submit}}send{{/input-submit}}

      {{/form}}

    {{/partials-form}}


  {{/content}}

{{/layout}}
