{{<partials-page}}
  {{$journeyHeader}}
    {{#t}}journey.lost.header{{/t}}
  {{/journeyHeader}}
  {{$page-content}}
    <p>{{#t}}pages.confirm.subheader{{/t}}</p>
        {{#rows}}
          {{> partials-summary-table}}
        {{/rows}}
    <h2>{{#t}}fields.org-help.legend{{/t}}</h2>
    {{#renderField}}org-help{{/renderField}}
    {{> partials-org-type}}
    <h2>{{#t}}footer.title{{/t}}</h2>
    <p>{{#t}}footer.explanation{{/t}}</p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{#t}}pages.check-details.warn-card-cancelled{{/t}}
      </strong>
    </div>  
    {{#input-submit}}send{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
