{{<layout}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
  <div class="alert-complete" role="alert">
    <span class="icon icon-complete" role="presentation"></span>
    <div class="alert-message">
      <h1>{{#t}}pages.confirmation.header{{/t}}</h1>
    </div>
  </div>
  <p>{{#t}}pages.confirmation.privacy{{/t}}</p>

  <hr>

  <p>{{#t}}pages.confirmation.email{{/t}}</p>

  <hr>

  <h3>{{#t}}pages.confirmation.next.title{{/t}}</h3>

  {{#location.inside-uk}}
    <p>{{#t}}pages.confirmation.next.inside-uk.para.one{{/t}}</p>
    <p>{{#t}}pages.confirmation.next.inside-uk.para.two{{/t}}</p>
  {{/location.inside-uk}}

  {{#location.outside-uk}}
    <p>{{#t}}pages.confirmation.next.outside-uk.para.one{{/t}}</p>
    <p>{{#t}}pages.confirmation.next.outside-uk.para.two{{/t}}</p>
  {{/location.outside-uk}}

  {{#location.not-specified}}
    <p>{{#t}}pages.confirmation.next.not-specified.para.one{{/t}}</p>
    <p>{{#t}}pages.confirmation.next.not-specified.para.two{{/t}}</p>
    <p>{{#t}}pages.confirmation.next.not-specified.para.three{{/t}}</p>
  {{/location.not-specified}}

  <hr>

  <a href='/'>Finish</a>

{{/content}}

{{/layout}}
