{{<layout}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
  <div class="alert-complete" role="alert">
    <span class="icon icon-complete" role="presentation"></span>
    <div class="alert-message">
      <h1>{{#t}}steps.confirmation.header{{/t}}</h1>
    </div>
  </div>
  <p>{{#t}}steps.confirmation.privacy{{/t}}</p>

  <hr>
  <p>{{#t}}steps.confirmation.email{{/t}}</p>
  <hr>
  <h3>{{#t}}steps.confirmation.next.title{{/t}}</h3>
  <p>{{#t}}steps.confirmation.next.para.one{{/t}}</p>
  <p>{{#t}}steps.confirmation.next.para.two{{/t}}</p>
  <p>{{#t}}steps.confirmation.next.para.three{{/t}}</p>

  <hr>

  <a href='/'>Finish</a>

{{/content}}

{{/layout}}
