{{<layout}}
  {{$step}}Step 1 of 5{{/step}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}steps.one.header{{/t}}{{/header}}

  {{$content}}
    <p>{{#t}}steps.one.subheader{{/t}}</p>

    <ul class="list-bullet">
      <li>{{#t}}steps.one.list.one{{/t}}</li>
      <li>{{#t}}steps.one.list.two{{/t}}</li>
      <li>{{#t}}steps.one.list.three{{/t}}</li>
    </ul>

    {{<partials-form}}

      {{$form}}
        {{#radio-group}}received{{/radio-group}}

        <fieldset id="delivery-date-group" class="panel-indent {{#errors.delivery-date}}validation-error{{/errors.delivery-date}}">

          <legend class="visuallyhidden">
            <span class="form-label-bold">{{#t}}fields.delivery-date.legend{{/t}}</span>
          </legend>

          <p>{{#t}}steps.one.date-question{{/t}}</p>

          {{#errors.delivery-date}}
            <span id="delivery-date-error" class="error-message">
              {{errors.delivery-date.message}}
            </span>
          {{/errors.delivery-date}}

          <div class="form-group form-date">
            <p id="delivery-date-hint" class="form-hint">
              {{#t}}fields.delivery-date.hint{{/t}}
            </p>
            {{#input-date}}delivery-date{{/input-date}}
          </div>

          {{#checkbox}}no-letter{{/checkbox}}
        </fieldset>

        {{#input-submit}}continue{{/input-submit}}
      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
