{{<layout}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}pages.on-the-way.header{{/t}}{{/header}}

  {{$content}}

    <p>{{#t}}pages.on-the-way.para.one.first{{/t}}{{weekDayRange.weekDaysSince}}{{#t}}pages.on-the-way.para.one.second{{/t}}</p>
    <p>{{#t}}pages.on-the-way.para.two.first{{/t}}{{weekDayRange.weekDaysUntil}}{{#t}}pages.on-the-way.para.two.second{{/t}}</p>
    <a class="button" href='/'>{{#t}}buttons.close{{/t}}</a>

  {{/content}}

{{/layout}}
