{{<layout}}
{{$step}}Step 2 of 5{{/step}}
{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}steps.same-address.header{{/t}}{{/header}}

{{$content}}

  {{<partials-form}}

    {{$form}}

      {{#radio-group}}address-match{{/radio-group}}

      <fieldset id="delivery-details-group" class="panel-indent">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.delivery-details.legend{{/t}}
            </span>
        </legend>
        <div class="form-group">
            <label for="delivery-details-label" class="form-label">{{#t}}steps.same-address.delivery-details.explanation{{/t}}</label>
            <textarea id="delivery-details-label" class="form-control form-control-textarea"></textarea>
        </div>
      </fieldset>

      <fieldset id="address-group" class="panel-indent">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.address.legend{{/t}}
            </span>
        </legend>

        <p>{{#t}}steps.same-address.address.title{{/t}}</p>

        {{#input-text}}address-street{{/input-text}}

        {{#input-text}}address-town{{/input-text}}

        {{#input-text}}address-county{{/input-text}}

        {{#input-text-code}}address-postcode{{/input-text-code}}

      </fieldset>

      {{#input-submit}}continue{{/input-submit}}

    {{/form}}

  {{/partials-form}}

{{/content}}

{{/layout}}
