{{<layout}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$content}}
    <h2>{{#t}}steps.one.header{{/t}}</h2>
    <p>{{#t}}steps.one.subheader{{/t}}</p>

    <ul class="list-bullet">
      <li>{{#t}}steps.one.list.one{{/t}}</li>
      <li>{{#t}}steps.one.list.two{{/t}}</li>
      <li>{{#t}}steps.one.list.three{{/t}}</li>
    </ul>

    {{<partials-form}}

      {{$form}}

        {{#radio-group}}received{{/radio-group}}

        <fieldset id="dated-group" class="panel-indent">
          <legend class="visuallyhidden">
              <span class="form-label-bold">{{#t}}fields.delivery-date.legend{{/t}}</span>
          </legend>

          <p>{{#t}}steps.one.date-question{{/t}}</p>

          <div class="form-group form-date">
              <p id="delivery-date-hint" class="form-hint">{{#t}}fields.delivery-date.hint{{/t}}</p>
              {{#input-date}}delivery-date{{/input-date}}
          </div>

          {{#checkbox}}no-letter{{/checkbox}}
        </fieldset>

        {{#input-submit}}continue{{/input-submit}}
      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
