{{<layout}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
  <h2>{{#t}}steps.two.header{{/t}}</h2>

  {{<partials-form}}

    {{$form}}

      {{#radio-group}}same-address{{/radio-group}}

      <fieldset id="delivery-details-group" class="panel-indent">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.delivery-details.legend{{/t}}
            </span>
        </legend>
        <p>{{#t}}steps.two.delivery-details.explanation{{/t}}</p>
        <div class="form-group">
            <label for="delivery-details-label" class="form-label"></label>
            <textarea id="delivery-details-label"></textarea>
        </div>
      </fieldset>

      <fieldset id="address-group" class="panel-indent">
        <legend class="visuallyhidden">
            <span class="form-legend">
              {{#t}}fields.address.legend{{/t}}
            </span>
        </legend>

        <p>{{#t}}steps.two.address.title{{/t}}</p>

        {{#input-text}}address-street{{/input-text}}

        {{#input-text}}address-town{{/input-text}}

        {{#input-text}}address-county{{/input-text}}

        {{#input-text-code}}address-postcode{{/input-text-code}}

      </fieldset>

      {{#input-submit}}continue{{/input-submit}}

    {{/form}}

  {{/partials-form}}

{{/content}}

{{/layout}}
