{{<layout}}

{{$journeyHeader}}
  {{#t}}journeys.error.header{{/t}}
{{/journeyHeader}}

{{$step}}Step 2 of 6{{/step}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$title}}
  {{#t}}pages.about-error.header{{/t}}
{{/title}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{#t}}pages.about-error.header{{/t}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$content}}
  <p>{{#t}}pages.about-error.subheader{{/t}}</p>

  {{<partials-form}}

    {{$form}}

      {{#checkbox}}last-name-error-checkbox{{/checkbox}}
      <div id="last-name-error-container" class="panel-indent js-hidden {{#errors.last-name-error}}validation-error{{/errors.last-name-error}}">
        <p>{{#t}}fields.last-name-error.title{{/t}}</p>
        {{#input-text}}last-name-error{{/input-text}}
      </div>

      {{#checkbox}}first-name-error-checkbox{{/checkbox}}
      <div id="first-name-error-container" class="panel-indent js-hidden {{#errors.first-name-error}}validation-error{{/errors.first-name-error}}">
        <p>{{#t}}fields.first-name-error.title{{/t}}</p>
        {{#input-text}}first-name-error{{/input-text}}
      </div>

      {{#checkbox}}birth-place-error-checkbox{{/checkbox}}
      <div id="birth-place-error-container" class="panel-indent js-hidden {{#errors.birth-place-error}}validation-error{{/errors.birth-place-error}}">
        {{#input-text}}birth-place-error{{/input-text}}
      </div>

      {{#checkbox}}date-of-birth-error-checkbox{{/checkbox}}
      <div id="date-of-birth-error-container" class="panel-indent js-hidden {{#errors.date-of-birth-error}}validation-error{{/errors.date-of-birth-error}}">
        <div class="form-group form-date">
          <label for="date-of-birth-error-day" class="form-label">{{#t}}fields.date-of-birth-error.label{{/t}}</p>
          {{#errors.date-of-birth-error}}
            <span id="date-of-birth-error" class="error-message">
              {{errors.date-of-birth-error.message}}
            </span>
          {{/errors.date-of-birth-error}}
          <p id="date-hint" class="form-hint">{{#t}}fields.date-of-birth-error.hint{{/t}}</p>
          {{#input-date}}date-of-birth-error{{/input-date}}
        </div>
      </div>

      {{#checkbox}}gender-error-checkbox{{/checkbox}}
      {{#radio-group}}gender-error{{/radio-group}}

      {{#checkbox}}sponsor-details-error-checkbox{{/checkbox}}
      <div id="sponsor-details-error-container" class="panel-indent js-hidden {{#errors.sponsor-details-error}}validation-error{{/errors.sponsor-details-error}}">
        <p>{{#t}}fields.sponsor-details-error.title{{/t}}</p>
        {{#input-text}}sponsor-details-error{{/input-text}}
      </div>

      {{#checkbox}}nationality-error-checkbox{{/checkbox}}
      <div id="nationality-error-container" class="panel-indent js-hidden {{#errors.nationality-error}}validation-error{{/errors.nationality-error}}">
        {{#select}}nationality-error{{/select}}
      </div>

      {{#checkbox}}signature-error-checkbox{{/checkbox}}
      <div id="signature-error-container" class="panel-indent js-hidden {{#errors.signature-error}}validation-error{{/errors.signature-error}}">
        {{#textarea}}signature-error{{/textarea}}
      </div>

      {{#checkbox}}photograph-error-checkbox{{/checkbox}}
      <div id="photograph-error-container" class="panel-indent js-hidden {{#errors.photograph-error}}validation-error{{/errors.photograph-error}}">
        {{#textarea}}photograph-error{{/textarea}}
      </div>

      {{#checkbox}}national-insurance-error-checkbox{{/checkbox}}
      <div id="national-insurance-error-container" class="panel-indent js-hidden {{#errors.national-insurance-error}}validation-error{{/errors.national-insurance-error}}">
        {{#input-text}}national-insurance-error{{/input-text}}
      </div>

      {{#checkbox}}damaged-error-checkbox{{/checkbox}}
      <div id="damaged-error-container" class="panel-indent js-hidden {{#errors.damaged-error}}validation-error{{/errors.damaged-error}}">
        {{#textarea}}damaged-error{{/textarea}}
      </div>

      {{#checkbox}}conditions-error-checkbox{{/checkbox}}
      <div id="conditions-error-container" class="panel-indent js-hidden {{#errors.conditions-error}}validation-error{{/errors.conditions-error}}">
        {{#textarea}}conditions-error{{/textarea}}
      </div>

      {{#checkbox}}length-of-stay-error-checkbox{{/checkbox}}
      <div id="length-of-stay-error-container" class="panel-indent js-hidden {{#errors.length-of-stay-error}}validation-error{{/errors.length-of-stay-error}}">
        {{#textarea}}length-of-stay-error{{/textarea}}
      </div>

      {{#checkbox}}biographics-error-checkbox{{/checkbox}}
      <div id="biographics-error-container" class="panel-indent js-hidden {{#errors.biographics-error}}validation-error{{/errors.biographics-error}}">
        {{#textarea}}biographics-error{{/textarea}}
      </div>

      {{#checkbox}}BRP-issue-error-checkbox{{/checkbox}}
      <div id="BRP-issue-error-container" class="panel-indent js-hidden {{#errors.BRP-issue-error}}validation-error{{/errors.BRP-issue-error}}">
        {{#textarea}}BRP-issue-error{{/textarea}}
      </div>

      {{#input-submit}}continue{{/input-submit}}


    {{/form}}

  {{/partials-form}}


{{/content}}

{{/layout}}
