{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.error.header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.truncated.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.truncated.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}
    <p>{{#t}}pages.exit-truncated.title{{/t}}</p>

    {{#values.truncatedDetail}}
      <p><strong>{{prettyName}}</strong></p>
     
      <p>{{translations.paras.one}}{{max}}{{translations.paras.two}}</p>

      <p>{{translations.paras.three}}</p>

      <p>{{translations.paras.four}}</p>
    {{/values.truncatedDetail}}
    
    <a href='https://www.gov.uk/done/brp-report-problem' class='button'>{{#t}}buttons.close{{/t}}</a>

  {{/content}}

{{/layout}}
