{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.error.header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.truncated.header{{/t}}
  {{/title}}
  
  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.truncated.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    <p>{{#t}}pages.exit-truncated.paras.one{{/t}}</p>

    <p>{{#t}}pages.exit-truncated.paras.two{{/t}}</p>

    <p>{{#t}}pages.exit-truncated.paras.three{{/t}}</p>

    <a href='{{baseUrl}}' class='button'>{{#t}}buttons.close{{/t}}</a>

  {{/content}}

{{/layout}}
