<fieldset id="new-address-fieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">

<legend class="visuallyhidden">
    <span class="form-legend">
      {{#t}}fields.address.legend{{/t}}
    </span>
</legend>
<br><br>
<p>{{#t}}pages.same-address.address.title{{/t}}</p>

{{#input-text}}address-house-number{{/input-text}}

{{#input-text}}address-street{{/input-text}}

{{#input-text}}address-town{{/input-text}}

{{#input-text}}address-county{{/input-text}}

{{#input-text}}address-postcode{{/input-text}}

{{#input-text}}case-id{{/input-text}}

</fieldset>
